#app {
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #e8e6e6;
  padding: 15px;
  position: relative;
  margin-top: 10px;
  font-family: Segoe UI,Roboto,sans-serif;
  font-size: 0.95em;
  font-weight: 400;
  letter-spacing: .002em;
}

#app .title {
  font-weight: bold;
  font-size: 1em;
  padding: 5px 0;

}

#app :before {
  content: " ";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #ffffff;
  position: absolute;
  top: -8px;
  left: calc(50% - 6px);
}

textarea {
  padding: 10px;
  font-size: 10px;
}

.rt {
  padding: 5px 0;
}

.rt > label {
  display: flex;
  align-items: center;
  user-select: none;
}

.rt strong {
  font-size: 14px;
  display: inline-block;
  padding-right: 10px;
  width: 100px;
  text-align: right;
}

.ctl {
  padding-top: 15px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ctl button {
  border: none;
  color: #ffffff;
  background-color: #333;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border-radius: 4px;
}
.ctl button:hover {
  opacity: .8;
}

#app .option-check {
  margin: 10px 0;
  display: block;
}

fieldset {
  border: 1px solid #cccccc;
  border-radius: 5px;
}

fieldset legend {
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
}

fieldset p {
  margin-top: 0;
}

.hotkeybox {
  border: 1px solid #ccc;
  width: 95%;
  display: inline-block;
  background-color: #f1f1f1;
  padding: 5px;
  margin-right: 10px;
  height: 15px;
}

.hotkeybox.enabled {
  background-color: #ffffff;
}

.instructions {
  font-size: 12px;
}

.hotkey-btn {
  display: inline-block;
  color: #0059ff;
  font-weight: bold;
  border: none;
  background: none;
  margin-right: 5px;
}
